<!-- 案例--名称 watch -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue demo</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.min.css">
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">

<input type="text" v-model="firstname"> + 
<input type="text" v-model="lastname"> = 
<input type="text" v-model="fullname">

</div>



<script type="text/javascript" src="./lib/vue.js"></script>
<script type="text/javascript" src="./lib/vue-router-3.1.3.js"></script>

<script type="text/javascript">
var vm = new Vue({
    el:'#app',
    data:{
        firstname:'',
        lastname:'',
        fullname:''
    },
    methods:{},
    watch:{
        // 监视data中指定数据的变化，然后触发watch中对应function;可以监听路由
        firstname:function(newVal,oldVal){
            this.fullname=newVal+'-'+this.lastname
        },
        lastname:function(newVal){
            this.fullname=this.firstname+'-'+newVal
        }
    },
});


</script>
</body>
</html>