<!-- 案例--名称 computed -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue demo</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.min.css">
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">

<input type="text" v-model="firstname"> + 
<input type="text" v-model="lastname"> = 
<input type="text" v-model="fullname">

</div>



<script type="text/javascript" src="./lib/vue.js"></script>
<script type="text/javascript" src="./lib/vue-router-3.1.3.js"></script>

<script type="text/javascript">
var vm = new Vue({
    el:'#app',
    data:{
        firstname:'',
        lastname:'',
        // fullname:''
    },
    methods:{},
    watch:{},// methods和computed结合体
    computed:{
        // 注意1：计算属性，在引用的时候不要加()去调用，直接把它当作普通属性就行
        // 注意2：只要计算属性，这个function内部，所有用到data中的数据发送了变化，就会立即重新计算这个属性的值
        // 注意3：计算属性的求值结果会被缓存起来，方便下次直接使用；计算属性方法中，所以来的任何数据都没有发生变化，则不会重新求值
        'fullname':function(){
            return this.firstname+'-'+this.lastname
        }
    }
});


</script>
</body>
</html>